.movies-more-wrap {
  max-width: 320px;
  height: 36px;
  margin: auto;
  padding: 50px 0 80px;
}

.movies-more-button {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  width: 100%;
  padding: 11px 0 9px;
  background: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  box-sizing: border-box;
}

.movies-more-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .movies-more-wrap {
    max-width: 240px;
  }
}
