.burger-menu-popup__section {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 3;
}

.burger-menu-popup__section_opened {
  visibility: visible;
  opacity: 1;
  position: fixed;
}

.burger-menu-popup__container {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  margin: 0 auto;
  background: #ffffff;
}

.burger-menu-popup__content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  height: 100vh;
  padding: 144px 0 48px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.burger-menu-popup__close-btn {
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  top: 17px;
  right: 17px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  object-fit: cover;
}

.burger-menu-popup__close-btn:hover {
  opacity: 0.6;
}

.burger-menu-popup__nav {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.burger-menu-popup__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-bottom: 24px;
  padding-bottom: 4px;
  box-sizing: border-box;
}

.burger-menu-popup__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.burger-menu-popup__link_active {
  border-bottom: 2px solid #000000;
}

.burger-menu-popup__link:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 520px) {
  .burger-menu-popup__container {
    width: 100%;
  }

  .burger-menu-popup__content {
    padding: 144px 0 46px;
  }
}
