.filter-checkbox__tumbler_on {
  background-image: url(../../images/tumbler-on.jpg);
  background-size: 34px 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
}

.filter-checkbox__tumbler_off {
  background-image: url(../../images/tumbler-off.jpg);
  background-size: 34px 15px;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
}
.filter-checkbox__label {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin-left: 14px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .filter-checkbox__label {
    margin-left: auto;
    margin-right: 16px;
  }
}
